* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: #0012b8;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #0012b8;
    animation: fadeIn 1.5s ease-in-out;
}

.date {
    color: #494957;
    font-size: 0.9em; /* Tamanho menor para destacar menos */
    font-style: italic; /* Deixa o texto em itálico */
    margin-bottom: 0.5em; /* Espaçamento abaixo */
}


header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #e4ebe4;
    animation: glitch 1.5s infinite;
}

header p {
    font-size: 1.2rem;
    color: #e4ebe4;
    animation: fadeIn 2s ease-in-out;
}

main {
    flex: 1;
    padding: 20px;
    width: 80%;
    margin: auto;
}
article {
    margin-bottom: 20px;
    border: 1px solid #0012b8;
    padding: 15px;
    transition: transform 0.3s;
}

article:hover {
    transform: scale(1.02);
}

article h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: hsl(231, 97%, 47%);
    animation: fadeInUp 1s ease;
}

article h1{
    font-size: 1.5rem;
    color: #1127ed;
}

article p {
    font-size: 1rem;
    color: #fff;
}

button {
    background: #0012b8;
    color: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0012b8;
}

#comments-section {
    margin-top: 15px;
    color: #0012b8;
    animation: slideDown 0.5s ease;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
    color: #0012b8;
}

.article-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color:#0012b8;
    text-decoration: none;
    font-size: 1.2rem;
}

.back-link:hover {
    color: #2230ac;
}

footer#contact {
    padding: 30px;
    text-align: center;
    color: #e4ebe4;
    margin-top: 40px;
    border-top: 2px solid #0012b8;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color:#0012b8;
    text-shadow: 0 0 5px #0012b8;
    animation: fadeIn 1.5s ease-in-out;
}

footer p {
    font-size: 1.1rem;
    color: #cccccc;
    margin-bottom: 15px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    font-size: 1rem;
    margin: 10px 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

footer li:hover {
    color: #0012b8;
    transform: translateX(5px);
}

footer a {
    color: #0012b8;
    text-decoration: none;
}

footer a:hover {
    color: #0012b8;
    text-shadow: 0px 0px 5px #0012b8;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #0d3ee0, -2px -2px #2560e0be;
    }
    50% {
        text-shadow: -2px -2px #0d3ee0, 2px 2px #2560e0be;
    }
    100% {
        text-shadow: 2px 2px #0d3ee0, -2px -2px #2560e0be;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
